body {
    padding-top: 56px;
}

.custom-alert {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: .25rem;
    margin-top: -2.7rem;
    margin-right: 5%;
    margin-left: 5%;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}