<div class="card_add_basket">
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{% url 'mainapp:item' product.id %}">
                        <img class="card-img-top"
                             src="{{ product.image.url }}"
                             alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'mainapp:item' product.id %}">{{ product.name }}</a>
                        </h4>
                        <h5>{{ product.price }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>

                    <div class="card-footer text-center">
                        <div>
                        {% if product.quantity >= 1 %}
                            <button type="button" class="btn btn-outline-success" value="{{ product.id }}" prod_name="{{ product.name }}">
                                Отправить в корзину
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-outline-danger" disabled>Товар закончился :(</button>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'mainapp/includes/navbar.html' %}
</div>